*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

/* 
ul, ol, li {
    list-style: none;
} */

html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #262C27;
    line-height: 21.78px;
}

.container { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.title {
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
}

/* -------------HEADER----------------- */
.header { 
    background-image: url(../img/main-block.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-bottom: 80px;
}
header::before {
    content: "";
    position: absolute;
    background-image: url(../img/header-decor.svg);
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 456px;    
    transform: translateY(35%);
    z-index: 2;
}
header::after {
    content: "";
    position: absolute;
    background-image: url(../img/header-decor.svg);
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 456px;    
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}

.header__top {
    padding-top: 57px;
}

.menu { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.menu__logo path{ 
    transition: fill 0.3s ease;
}
.menu__logo:hover path {
    fill: #0093A1;
}

.menu__btn { 
    background-color: #262C27;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    padding: 12px 74px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}
.menu__btn:hover {
    color: #262C27;
    background-color: #B9C400;
}

.menu__phone {
    transition: transform 0.3s;
}
.menu__phone:hover {
    transform: scale(1.3);
}

.header__content {
    min-height: calc(100vh - 160px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header__content-box { 
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    font-weight: 700;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}

.header__title { 
    text-transform: uppercase;
    font-size: 64px;
    line-height: 71px;
    margin-bottom: 20px;
}

.header__text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 27px;
}
.header__text:not(:last-child) {
    margin-bottom: 20px;
}

.header__decor-text {
    position: absolute;
    bottom: 25px;
    color:  #0093A1;
}

.header__decor-text_one {
    font-family: 'Comfortaa', cursive;
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3; 
}

.header__decor-text_one {
    z-index: 4;
    left: 276px;
    bottom: 0;
}

.header__decor-text_two {
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    z-index: 5;
    width: 360px;
    right: 135px;
}

/* -------------INFORMATION-BLOCK----------------- */
.information {
    background-image: url(../img/info-block.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.information::before {
    content: "";
    position: absolute;
    height: 180px;
    background-color: #262C27;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-130px);
    z-index: 1;
}

.information__top { 
    display: flex;
    gap: 82px;   
    padding-top: 100px;
    margin-bottom: 70vh;
}

.information__top-text { 
    color: white;
    padding-top: 280px;
    width: 290px;
    position: relative;
}

.information__top-text--one {
    padding-bottom: 125px;
}

.information__top-text--two {
    border-bottom: 1px solid #FFFFFF;
}

.play-btn {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
}

.play-btn path,
.play-btn circle {
    transition: all 0.3s;
}
.play-btn:hover path {
    fill: #B9C400;
}
.play-btn:hover circle {
    stroke: #B9C400
}

.play-btn span {
    padding-top: 12px;
    display: block;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: color 0.3s;
}
.play-btn:hover span {
    color: #0093A1;
}

.information__top-btn { 
    position: absolute;
    bottom: 0;
    right: 0;
}

.information__top-img { 
    padding-top: 31px;
    position: relative;
    z-index: 6;
}

.information__bottom { 
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 50px;
}

.information__bottom-title {
    margin-right: 162px;
}

.information__bottom-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    font-weight: 700;
    text-transform: uppercase;
}

.information__bottom-item { 
    display: flex;
    gap: 25px;
}
.information__bottom-item:not(:last-child) {
    margin-bottom: 15px;
}

.information__bottom-caption { 
    width: 178px;
}

/* -------------BUY-BLOCK----------------- */
.buy {
    padding: 150px 0;
 }

.buy__inner {
    display: flex;
    align-items: center;
    gap: 90px;
}

.buy__content {
    position: relative;
    width: 502px;
}

.buy__title {
    color: #0093A1;
    margin-bottom: 50px;
}

.buy__list {
    margin-bottom: 50px;
}

.buy__price {
    position: absolute;
    width: 201px;
    height: 199px;
    right: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 130px;
    background-image: url(../img/star.svg);
    transition: transform 0.3s;
}
.buy__price:hover {
    transform: scale(1.2);
}

.buy__item { 
    width: 292px;
    list-style: none;
}
.buy__item:not(:last-child) {
    margin-bottom: 25px;
}

.buy__item-title { 
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.buy__item-title:hover {
    color: #0093A1;
    transition: color 0.3s ease;
}

.buy__btn { 
    border: 2px solid #0093A1;
    color: #0093A1;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    padding: 18px;
    text-align: center;
    max-width: 484px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}
.buy__btn:hover {
    border: none;
    background-color: #B9C400;
    border-color: 2px solid #B9C400;
    color: #262C27;
}

/* -------------TECHNOLOGY-BLOCK----------------- */
.technology__top {
    background-image: url(../img/technology-block.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.technology__top-inner { 
    position: relative;
    min-height: 110vh;
}

.technology__btn { 
    right: 342px;
    top: 50vh;
}

.technology__top-box {
    position: absolute;
    left: 0;
    bottom: 85px;
}

.technology__title {
    max-width: 470px;
    margin-bottom: 62px;
}

.technology__list {
    margin: 0;
    padding-left: 20px;
}

.technology__list-item { 
    padding-left: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.technology__list-item:not(:last-child) {
    margin-bottom: 15px;
}

/* -------------FOOTER----------------- */
.footer { 
    background-color: #262C27;
    padding: 100px 0 80px;
    color: #fff;
}

.footer__inner { 
    display: flex;
    flex-direction: column;
}

.footer__top { 
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 27px;
}

.footer__form {
    max-width: 500px;
}

.footer__form-input { 
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #FFFFFF
}
.footer__form-input:not(:last-child) {
    margin-bottom: 57px;
}
.footer__form-input::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer__form-btn { 
    background-color: #FFFFFF;
    padding: 10px 66px;
    margin-bottom: 98px;
    max-width: 198px;
    border: none;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 98px;
}
.footer__form-btn:hover {
    background-color: #B9C400;
    color: #FFFFFF;
}

.footer__logo {
    align-self: flex-start;
}
.footer__logo path{
    transition: fill 0.3s;
 }
.footer__logo:hover path {
    fill: #0093A1;
}

.footer__inst-title { 
    margin-bottom: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__gallery { 
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.footer__gallery-item { }

.footer__menu-list { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

/* -------------MEDIA----------------- */
@media (max-width: 1230px) {
    .header__decor-text_one {
        left: 0;
    }
    .buy__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .buy__img {
        order: -1;
        width: 100%;
    }
    .buy__content {
        width: 100%;
    }
    .buy__price {
        pointer-events: none;
    }
    .buy__item {
        width: 100%;
        max-width: 600px;
    }
    .footer__gallery-item {
        width: 100%;
        align-self: stretch;
    }
}

@media (max-width: 1000px) {
    .information__top {
        display: block;
    }
    .information__top-text {
        width: 100%;
        padding-top: 120px;
    }
    .information__top-text--two {
        padding-bottom: 30px;
        padding-top: 45px;
    }
    .information__top-img {
        display: block;
        width: 227px;
        margin: 0 auto;
    }
    .information__top {
        margin-bottom: 25vh;
    }
    .information__bottom {
        display: block;
    }
    .information__bottom-title {
        margin-bottom: 15px;
    }
    .footer__top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__logo {
        order: -1;
        margin: 0 auto 40px;
    }
    .footer__gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .footer__menu-list {
        display: block;
        text-align: center;
    }
    .footer__menu-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .footer__inst-title {
        text-align: center;
    }
}

@media (max-width: 840px) {
    .buy__price {
        bottom: auto;
        top: -350px;
    }
}

@media (max-width: 820px) {
    .header__decor-text_one {
        bottom: 65px;
    }
}

@media (max-width: 720px) {
    .menu__btn {
        width: 70%;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 90px;
    }
    .header__content-box {
        margin: 0;
    }
    .technology__btn {
        right: 50px;
        top: 40vh;
    }
}

@media (max-width: 633px) {
    .information__bottom-list {
        width: 100%;
    }
    .information__bottom-item {
        display: block;
    }
    .title {
        font-size: 48px;
        line-height: 56px;
    }
}

@media (max-width: 500px) {
    .buy__price {
        width: 170px;
        height: 168px;
        background-size: cover;
        top: -185px;
    }
}

@media (max-width: 480px) {
    .header__decor-text {
        display: none;
    }
}

@media (max-width: 414px) {
    .header__content {
        z-index: 5;
    }
    .technology__title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .footer__logo svg {
        width: 90%;
    }
    .footer__title {
        font-size: 34px;
        line-height: 38px;
    }
}

@media (max-width: 370px) {
    .header__title {
        font-size: 55px;
        line-height: 60px;
    }
}
